/* Detect media in javascript */
.viewports {
	font-family: mobile;
	@include breakpoint(small) {
		font-family: tablet;
	}
	@include breakpoint(large) {
		font-family: desktop;
	}
}

/* Align text */
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

/* Align flex align */
.flex-align-right {
	margin-left: auto;
}

.flex-align-left {
	margin-right: auto;
}

/* Show and hide element */
.hide-desktop {
	@include breakpoint(large) {
		display: none;
	}
}

.hide-mobile-tablet {
	display: none;

	@include breakpoint(large) {
		display: block;

		&.flex {
			display: flex;
		}
	}
}

.hide-mobile {
	display: none;

	@include breakpoint(small) {
		display: block;

		&.flex {
			display: flex;
		}
	}
}

.hide {
	display: none;
}

.green-text {
	color: $green;
}

.headline-green {
	max-width: 240px;
	max-height: 44px;
	padding: 12px;
	background-color: $green;;
	color: #fff;
	text-transform: uppercase;
}




