.btn {
	display: block;
	width: 100%;
	margin-top: 8px;
	max-height: 44px;
	padding: 12px;
	border: 1px solid $green;
	font-size: .875rem;
	color: $green;
	text-align: center;
	transition: background .2s ease-in, color .2s ease-in;

	&:hover {
		background-color: $green;
		color: #fff;
	}

	&.with-icon {
		position: relative;
		padding-right: 40px;

		.btn-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 42px;
			height: 42px;
			background-color: $green-dark;
		}
	}

	&.inverted {
		background-color: $green;
		color: #fff;
	}

	&.disabled {
		background-color: $gray-dark;
		color: #fff;
		border-color: $gray-dark;
		cursor: not-allowed;

		&:before, &:after {
			position: absolute;
			display: block;
			transform: translateY(-10px);
			opacity: 0;
			transition: all .2s ease-in;
		}

		&:after {
			width: 170px;
			padding: 8px;
			top: -39px;
			right: -1px;
			content: 'Produkt chwilowo niedostępny';
			font-size: .625rem;
			color: #fff;
			white-space: nowrap;
			background-color: #808080;
		}

		&:before {
			position: absolute;
			display: block;
			top: -10px;
			right: 13px;
			content: '';
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid #808080;
		}

		&.active-tooltip {

			&:before, &:after {
				transform: translateY(0);
				opacity: 1;
			}

		}

		.btn-icon {
			background-color: #808080;
		}
	}
}


.quantity-wrapper {
	display: flex;
	margin: $gutter 0;

	.quantity-form {
		width: 44px;
		height: 44px;
		border: 1px solid $gray;
		text-align: center;
		color: $gray-dark;

		.quantity-input {
			display: block;
			width: 100%;
			line-height: 44px;
			text-align: center;
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance:textfield;
		}
	}

	.quantity-action {
		width: 44px;
		height: 44px;
		margin-left: -1px;
		border: 1px solid #c9c9c9;
		background-color: $gray-lite;

		.quantity-up, .quantity-down {
			height: 22px;
			background-repeat: no-repeat;
			background-position: center center;

			&:active {
				background-color: darken($gray-lite, 5%);
			}
		}

		.quantity-up {
			background-image: url(../img/svg/add.svg);
		}

		.quantity-down {
			background-image: url(../img/svg/minus.svg);
			background-size: 14px 14px;
		}
	}
}

.continue-shopping {
	display: flex;

	.continue-shopping-arrow {
		width: 9px;
		height: 25px;
		margin-right: 10px;
	}

	.continue-shopping {
		font-size: 1.125rem;
		color: $green;
	}

}
