.filter-sidebar {
	font-size: .875rem;

	.filter-title {
		display: block;
		position: relative;
		margin-bottom: 10px;
		padding: 15px $gutter;
		border: 1px solid $gray-lite;
		font-weight: 700;
		cursor: pointer;

		&:after {
			display: block;
			position: absolute;
			width: 6px;
			height: 13px;
			content: '';
			top: 17px;
			right: $gutter;
			background-image: url(../img/svg/arrow-black.svg);
			background-repeat: no-repeat;
			transform: rotate(90deg);
		}
	}

	.filter-list {
		display: block;

		.filter-element {
			margin: 0 $gutter;

			.filter-link {
				display: block;
				padding: $gutter 0;
				color: #000;

				@include breakpoint(large) {
					transition: color .2s ease-in;

					&:hover {
						color: $green;
					}

				}
			}

			&.active {
				position: relative;
				border-bottom: 1px solid $gray-dark;

				.filter-link {
					color: $green;
				}

				&:after {
					display: block;
					position: absolute;
					content: '';
					width: 6px;
					height: 13px;
					right: 0;
					top: $gutter;
					background-image: url(../img/svg/arrow-black.svg);
					background-repeat: no-repeat;
				}

			}

		}
	}



}