footer {
	position: relative;
	width: 100%;
	margin-top: 60px;
	padding: 10px 0;
	background: $gray-lite-bg;

	.scroll-top {
		position: absolute;
		width: 40px;
		height: 40px;
		top: -40px;
		right: 0;
		background-color: $green;
		content: "";
		background-image: url('../img/svg/arrow-white.svg');
		background-repeat: no-repeat;
		background-position: center center;

		@include breakpoint(large) {
			content: none;
		}
	}

	@include breakpoint(large) {
		margin-top: 0;
	}

	.container {
		@include breakpoint(large) {
			display: flex;
			justify-content: space-between;
		}
	}

	.footer-item {

		&.social-icons {
			padding: 10px 0;
			background: none;

			.social-link {
				display: inline-block;
				width: 20px;
				max-width: 20px;
				color: #999;
				margin-right: 30px;
				@include clickable-area(15px);

				svg {
					width: 100%;
				}
			}
		}

		.footer-headline {
			position: relative;
			padding: 15px 0;
			color: $gray-dark;
			font-size: .75rem;
			font-weight: 400;

			@include breakpoint(large) {
				text-transform: uppercase;
			}

			&:before {
				display: block;
				position: absolute;
				width: 13px;
				height: 7px;
				top: 17px;
				right: 0;
				background-image: url(../img/svg/arrow-gray.svg);
				background-repeat: no-repeat;
				content: '';

				@include breakpoint(large) {
					content: none;
				}
			}
		}

		.footer-list-wrapper {
			display: block;
			overflow: hidden;
			max-height: 0;

			@include breakpoint(large) {
				max-height: none;
			}

			.footer-item-list {

				@include breakpoint(large) {
					display: block;
				}

				.footer-item-element {
					padding-left: 10px;

					.footer-item-link {
						display: block;
						width: 100%;
						padding: 10px 0;
						font-size: .75rem;
						color: $gray-dark;
						transition: color .2s ease-in;

						&.green-text {
							color: $green;
						}

						@include breakpoint(large) {

							&:hover {
								color: $green;
							}
						}
					}

					.footer-text {
						font-size: .75rem;
						color: $gray-dark;
					}
				}
			}
		}

		.social-wrapper {
			margin-top: $gutter;

			.social-link {
				transition: color .2s ease-in;

				@include breakpoint(large) {

					&:hover {
						color: $green;
					}
				}
			}
		}

	}
}
