.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	background-color: $green;
	color: #fff;
	z-index: 100;

	@include breakpoint(large) {
		position: relative;
		background-color: $gray-lite;
	}

	.container {
		display: flex;
		height: 100%;
		align-items: center;

		.breadcrumbs {

			.breadcrumbs-list {

				.breadcrumbs-element {
					display: inline-block;

					&:after {
						display: inline-block;
						content: '/';
						color: $primary-text;
					}

					&:last-child {
						font-weight: 700;

						&:after {
							content: none;
						}
					}

					.breadcrumbs-link {
						font-size: .875rem;
						color: $primary-text;
					}
				}
			}
		}

		.cart-wrapper {
			display: flex;
			height: 100%;
			align-items: center;

			.cart {
				display: flex;
				height: 100%;
				color: #fff;
				align-items: center;

				@include breakpoint(large) {
					background-color: $gray;
					padding-right: $gutter;
					color: $primary-text;
				}

				.cart-icon {
					margin: 0 20px;

					@include breakpoint(large) {
						display: flex;
						height: 100%;
						margin-left: 0;
						padding: 0 $gutter / 2;
						background-color: $green;
					}
				}

				.cart-info {
					font-size: .875rem;
					font-weight: 700;
				}
			}

			.hamburger {
				position: relative;
				width: 20px;
				height: 20px;
				margin-left: 20px;
				transition: .3s ease-in-out;

				span {
					display: block;
					position: absolute;
					height: 1px;
					width: 100%;
					background: #fff;
					border: 1px solid rgba(255,255,255, 0.1);
					opacity: 1;
					top: 0;
					left: 0;

					&:nth-child(2) {
						top: 8px;
					}

					&:nth-child(3) {
						top: 16px;
					}
				}
			}

			.mobile-menu {
				position: fixed;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: $green;
				transition: transform .2s ease-in;
				transform: translateX(100%); // przesuniecie

				&.open {
					transform: translateX(0);
				}

				.close-wrapper {
					display: flex;
					align-items: center;
					flex: 1 1 10%;
					align-self: flex-end;

					.close-menu {
						width: 40px;
						height: 30px;
						@include clickable-area(20px)
					}
				}


				.mobile-menu-list {
					flex: 1 1 70%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					text-align: center;

					.mobile-menu-element {
						display: block;

						.menu-element-link {
							display: block;
							height: 100%;
							font-size: 1.5rem;
							color: #fff;
						}
					}
				}


				.mobile-login-wrapper {
					display: flex;
					justify-content:center;
					align-items: center;
					flex: 1 1 20%;

					.menu-element-link {
						color: #fff;
					}
				}
			}
		}
	}
}