.pagination {
	display: flex;
	justify-content: center;
	max-width: 330px;
	margin: $gutter auto;

	@include breakpoint(large) {
		max-width: 310px;
		margin: $gutter * 2 auto;
	}

	.navigation-element {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: 1px solid $gray-lite;
		color: $gray-dark;

		@include breakpoint(large) {
			transition: all .2s ease-in;

			&:hover {
				border-color: $green-dark;
				color: $green-dark;
				z-index: 2; // @todo zrobić hover bordera na afterze
			}
		}
	}

	.pagination-text {
		flex: 1 1 100px;
		max-height: 40px;
		border: 1px solid $gray-lite;
		font-size: .875rem;
		line-height: 40px;
		color: $gray-dark;
		text-align: center;
	}

	.navigation-prev {
		margin-left: -1px;
		margin-right: -1px;
	}

	.navigation-next {
		margin-left: -1px;
	}

	.navigation-last {
		margin-left: -1px;
	}
}
